<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar/defaultNavbar.ejs') %>
<main class="content-wrap">

    <!-- hero/landing section -->
    <section class="hero bg-accent">
        <header class="container--narrow">
            <h1>Hi, I’m Ksenia, <span class="highlight">Web Designer</span> and <span class="highlight">Webflow</span>
                Developer</h1>
        </header>

        <p>I design and build beautiful websites for businesses around the globe. If you need a modern and powerful
            website, send me an email. If we are a good fit, I will give you a time and cost estimate.</p>

        <div id="heroBtn" class="btn-wrap">
            <a href="#portfolio">see my work</a>
            <div class="btn-frame"></div>
        </div>

        <div id="scroll" class="scroll active">
            <p id="scroll-txt" class="scroll-txt">scroll</p>
        </div>

    </section>

    <!-- portfolio section -->
    <section id="portfolio" class="portfolio">

        <% let i = 0 %>

        <% for(project of firstProjects) { 
            i++; %>
        <article class="split">

            <section>
                <% if(project.tags.latestWork === true) { %>
                <h3>latest work</h3>
                <% } %>

                <h2><%= project.title %> </h2>

                <div class="tags">
                    <% if(project.tags.webDesign === true) { %>
                    <p>Website Design</p>
                    <% } %>

                    <% if(project.tags.webflow === true) { %>
                    <p>Webflow Development</p>
                    <% } %>

                    <% if(project.tags.concept === true) { %>
                    <p>Concept</p>
                    <% } %>

                    <% if(project.tags.appDesign === true) { %>
                    <p>App Design</p>
                    <% } %>

                    <% if(project.tags.hackathon === true) { %>
                    <p>Hackathon</p>
                    <% } %>
                </div>

                <p><%= project.description.homeTxt %></p>

                <figure class="figure-column display-none fig-projects fig-pro<%= i %>">
                    <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                        <img src="<%= project.images.imgHome %> " alt="Example Picture">
                        <% } else { %>
                        <img src="/img/blank.png" alt="Example Picture">
                        <% } %></a>
                    <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
                </figure>

                <div class="btn-wrap goTo-Project">
                    <a class="projectBtn" href="/project/<%= project.urlName %>">see this project</a>
                    <div class="btn-frame"></div>
                </div>
            </section>

            <figure class="figure-row fig-projects fig-pro<%= i %>">
                <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                    <img src="<%= project.images.imgHome %> " alt="Example Picture">
                    <% } else { %>
                    <img src="/img/blank.png" alt="Example Picture">
                    <% } %></a>
                <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
            </figure>
        </article>
        <% } %>

        <% for(project of secondProjects) { 
            i++; %>
        <article class="split">

            <section>
                <% if(project.tags.latestWork === true) { %>
                <h3>latest work</h3>
                <% } %>

                <h2><%= project.title %> </h2>

                <div class="tags">
                    <% if(project.tags.webDesign === true) { %>
                    <p>Website Design</p>
                    <% } %>

                    <% if(project.tags.webflow === true) { %>
                    <p>Webflow Development</p>
                    <% } %>

                    <% if(project.tags.concept === true) { %>
                    <p>Concept</p>
                    <% } %>

                    <% if(project.tags.appDesign === true) { %>
                    <p>App Design</p>
                    <% } %>

                    <% if(project.tags.hackathon === true) { %>
                    <p>Hackathon</p>
                    <% } %>
                </div>

                <p><%= project.description.homeTxt %></p>

                <figure class="figure-column display-none fig-projects fig-pro<%= i %>">
                    <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                        <img src="<%= project.images.imgHome %> " alt="Example Picture">
                        <% } else { %>
                        <img src="/img/blank.png" alt="Example Picture">
                        <% } %></a>
                    <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
                </figure>

                <div class="btn-wrap goTo-Project">
                    <a class="projectBtn" href="/project/<%= project.urlName %>">see this project</a>
                    <div class="btn-frame"></div>
                </div>
            </section>

            <figure class="figure-row fig-projects fig-pro<%= i %>">
                <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                    <img src="<%= project.images.imgHome %> " alt="Example Picture">
                    <% } else { %>
                    <img src="/img/blank.png" alt="Example Picture">
                    <% } %></a>
                <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
            </figure>
        </article>
        <% } %>

        <% for(project of latestProjects) { 
            i++ %>
        <article class="split">

            <section>
                <% if(project.tags.latestWork === true) { %>
                <h3>latest work</h3>
                <% } %>

                <h2><%= project.title %> </h2>

                <div class="tags">
                    <% if(project.tags.webDesign === true) { %>
                    <p>Website Design</p>
                    <% } %>

                    <% if(project.tags.webflow === true) { %>
                    <p>Webflow Development</p>
                    <% } %>

                    <% if(project.tags.concept === true) { %>
                    <p>Concept</p>
                    <% } %>

                    <% if(project.tags.appDesign === true) { %>
                    <p>App Design</p>
                    <% } %>

                    <% if(project.tags.hackathon === true) { %>
                    <p>Hackathon</p>
                    <% } %>
                </div>

                <p><%= project.description.homeTxt %></p>

                <figure class="figure-column display-none  fig-projects fig-pro<%= i %>">
                    <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                        <img src="<%= project.images.imgHome %> " alt="Example Picture">
                        <% } else { %>
                        <img src="/img/blank.png" alt="Example Picture">
                        <% } %></a>
                    <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
                </figure>

                <div class="btn-wrap goTo-Project">
                    <a class="projectBtn" href="/project/<%= project.urlName %>">see this project</a>
                    <div class="btn-frame"></div>
                </div>
            </section>

            <figure class="figure-row fig-projects fig-pro<%= i %>">
                <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                    <img src="<%= project.images.imgHome %> " alt="Example Picture">
                    <% } else { %>
                    <img src="/img/blank.png" alt="Example Picture">
                    <% } %></a>
                <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
            </figure>
        </article>
        <% } %>

        <% for(project of projects) { 
            i++ %>
        <article class="split">

            <section>
                <% if(project.tags.latestWork === true) { %>
                <h3>latest work</h3>
                <% } %>

                <h2><%= project.title %> </h2>

                <div class="tags">
                    <% if(project.tags.webDesign === true) { %>
                    <p>Website Design</p>
                    <% } %>

                    <% if(project.tags.webflow === true) { %>
                    <p>Webflow Development</p>
                    <% } %>

                    <% if(project.tags.concept === true) { %>
                    <p>Concept</p>
                    <% } %>

                    <% if(project.tags.appDesign === true) { %>
                    <p>App Design</p>
                    <% } %>

                    <% if(project.tags.hackathon === true) { %>
                    <p>Hackathon</p>
                    <% } %>
                </div>

                <p><%= project.description.homeTxt %></p>

                <figure class="figure-column display-none fig-projects fig-pro<%= i %>">
                    <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                        <img src="<%= project.images.imgHome %> " alt="Example Picture">
                        <% } else { %>
                        <img src="/img/blank.png" alt="Example Picture">
                        <% } %></a>
                    <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
                </figure>

                <div class="btn-wrap goTo-Project">
                    <a class="projectBtn" href="/project/<%= project.urlName %>">see this project</a>
                    <div class="btn-frame"></div>
                </div>
            </section>

            <figure class="figure-row fig-projects fig-pro<%= i %>">
                <a href="/project/<%= project.urlName %>"> <% if(project.images.imgHome) { %>
                    <img src="<%= project.images.imgHome %> " alt="Example Picture">
                    <% } else { %>
                    <img src="/img/blank.png" alt="Example Picture">
                    <% } %></a>
                <img class="float-right" src="./icons/ic-arrow.svg" alt="arrow">
            </figure>
        </article>
        <% } %>



    </section>


    <!-- about section -->
    <section id="about" class="about split">
        <div>
            <h2>What <span class="highlight">I do</span></h2>
            <section>
                <h3>Design</h3>
                <p>I design beautiful and powerful websites for modern businesses. Any business today needs a website
                    that wins customers’ trust and helps you do your business well. I make sure your website is up to
                    that standard.</p>
            </section>
            <section>
                <h3>Development</h3>
                <p>I build websites in Webflow where I can create responsive, powerful and fully custom websites. They
                    look good at any screen size. Plus, Webflow has an incredibly simple Content Editor for you and your
                    team to edit website content quickly and easily.</p>
            </section>
        </div>
        <figure class="aboutPic">
            <img src="./img/KseniaPhotoComp.png" alt="Kseniia Pavliuchik">
        </figure>
    </section>

</main>

<script src="/js/homeApp.js"></script>
<%- include('./partials/footer.ejs') %>