<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/projects.css">

<div class="bg-accent"></div>

<main class="content-wrap">
    <section class="project-wrap">

        <article>
            <h3>project showcase</h3>
            <h1><%= project.title %></h1>
            <p><%= project.description %> </p>
            <a class="highlight bold" href="<%= project.liveLink %>" target="_blank">visit live site &#10141;</a>
        </article>

        <figure id="project-figure">
            <img src="<%= project.imgLink %>" alt="project image">
            <% if(project.imgLink2) { %> <img src="<%= project.imgLink2 %>" alt="project image"> <% } %>
        </figure>

    </section>
</main>

<script src="/js/projectApp.js"></script>
<%- include('./partials/footer.ejs') %>