<%- include ('./partials/header.ejs') %>
<%- include('./partials/navbar/cmsNavbar.ejs') %>
<link rel="stylesheet" href="/css/cms.css">

<div class="bg-accent"></div>

<main class="content-wrap">
    <section class="projects-wrap">
        <h1>Content Management</h1>
        <% for(project of projects) {%>
        <article class="project">
            <section>
                <h2><%= project.title %> </h2>
                <div class="btn-wrap--cms">
                    <button><img src="/icons/edit.svg" alt="edit">
                    </button><button><img src="/icons/rubbish-bin.svg" alt="bin"></button>
                </div>
            </section>
            <figure>
                <img src="<%= project.images.imgHome %> " alt="Example Picture">
            </figure>
        </article>
        <% } %>
    </section>
</main>

<%- include ('./partials/footer.ejs') %>