<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar/defaultNavbar.ejs') %>
<link rel="stylesheet" href="/css/projects.css">

<div class="bg-accent"></div>

<main class="content-wrap">
    <section class="project-wrap">

        <article>
            <h3>project showcase</h3>
            <h1><%= project.title %></h1>
            <p><%= project.description.projectTxt %></p>
            <% if(project.previewLink) { %> <a class="highlight bold" href="<%= project.previewLink %>"
                target="_blank">visit
                live site <span class="arrow">&#10141;</span></a> <% } %>
        </article>

        <figure id="project-figure">
            <% if(project.images.imgProject1.url && project.images.imgProject1.url.length) { %>
            <img src="<%= project.images.imgProject1.url %>" alt="Project Picture">
            <% } else { %>
            <img src="/img/blank.png" alt="Dummy Picture">
            <% } %>

            <% if(project.images.imgProject2.url && project.images.imgProject2.url.length) { %>
            <img src="<%= project.images.imgProject2.url %>" alt="project image">
            <% } %>
        </figure>

    </section>
</main>

<script src="/js/projectApp.js"></script>
<%- include('./partials/footer.ejs') %>