<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbar/cmsNavbar.ejs') %>
<link rel="stylesheet" href="/css/authenticate.css">

<main class="content-wrap">
    <div class="bg-accent"></div>

    <section class="authenticate-wrap project-form">

        <section class="authenticate">
            <form action="/changePassword/<%= currentUser.username %>?_method=PUT" method="POST">

                <h1>Change Password</h1>

                <%- include('../partials/flash.ejs') %>

                <div class="section-wrap changePassword">
                    <section class="password flex-around">
                        <label for="oldPw">1. Old Password</label>
                        <input type="password" id="oldPw" name="oldPw" class="input-txt" required>
                    </section>


                    <section class="password flex-around">
                        <label for="newPw">2. New Password</label>
                        <input type="password" id="newPw" name="newPw" class="input-txt" required>
                    </section>

                    <section class="password flex-around">
                        <label for="validatePw">3. Confirm Password</label>
                        <input type="password" id="validatePw" name="validatePw" class="input-txt" required>
                    </section>
                </div>

                <button class="submit-btn">Submit</button>
            </form>
        </section>
    </section>
</main>

<script src="/js/cmsApp.js"></script>
<%- include ('../partials/footer.ejs') %>