<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbar/cmsNavbar.ejs') %>
<link rel="stylesheet" href="/css/cms.css">

<main class="content-wrap">
    <div class="bg-accent"></div>

    <section class="projects-wrap">
        <h1>Content Management</h1>

        <%- include('../partials/flash.ejs') %>

        <section class="new project">
            <div class="blank-wrap">
                <section>
                    <h2>Add a new project</h2>
                    <div class="btn-wrap--cms">
                        <button id="addProject-btn" class="btn"><img src="/icons/add.svg" alt="add"></button>
                    </div>
                </section>
                <figure>
                    <img src="/img/blank.png" alt="Example Picture">
                </figure>
            </div>
        </section>

        <% let i = 0 %>
        <% for(project of projects) {
            i += 1 %>

        <section
            class="project existing-project project-<%= i %> pos-relative <% if(project.tags.hideProject === 1) { %> hidden-project <% } %>">

            <%- include ('../partials/banners.ejs') %>

            <section>
                <h2><%= project.title %> </h2>
                <div class="btn-wrap--cms">
                    <a class="edit-anchor a-project-<%= i %>" href="/cms/<%= project._id %>/edit"><button
                            class="btn edit-btn"><img src="/icons/edit.svg" alt="edit"></button></a>
                    <form onsubmit="return confirm('Are you sure you want to DELETE this Project?')"
                        action="/cms/<%= project._id %>?_method=DELETE" method="POST"><button class="btn"><img
                                src="/icons/rubbish-bin.svg" alt="bin"></button></form>
                </div>
            </section>
            <figure>
                <% if(project.images.imgHome.url && project.images.imgHome.url.length) { %>
                <img src="<%= project.images.imgHome.url %>" alt="Example Picture">
                <% } else { %>
                <img src="/img/blank.png" alt="Example Picture">
                <% } %>
            </figure>
        </section>
        <% } %>
    </section>
</main>


<script src="/js/cmsApp.js"></script>
<script src="/js/cmsIndexApp.js"></script>
<%- include ('../partials/footer.ejs') %>